<div>
  <%= @notice %>
</div>

<h2>Title</h2>


<td><p><%= @book.title %></p></td>

<p>Body</p>
<td><p><%= @book.body %></p></td>

<%= link_to "edit", edit_book_path(@book) %>
<%= link_to 'Back', books_path %>


